{
    "semi": false,
    "trailingComma": "es5",
    "singleQuote": false,
    "tabWidth": 4,
    "useTabs": false,
    "printWidth": 100,
    "quoteProps": "consistent",
    "jsxSingleQuote": false,
    "bracketSpacing": true,
    "jsxBracketSameLine": true,
    "arrowParens": "always"
}
